/src/cli/emu8051-cli
/src/cli/parser.c
/src/cli/parser.h
/src/cli/scanner.c
/src/cli/scanner.h
/src/common/instructions_8051.c
/src/common/instructions_8051.h
/src/common/libemu8051.a
/src/common/opcodes.c.h
/src/common/opcodes.h
/src/gtk/emu8051-gtk
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
Makefile
Makefile.in
config-h.in
config.h
stamp-h1
*.o
*/.deps/
*~
