*.o
*/.deps/
*~
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/test-driver
/config.cache
/config.log
/config.status
/configure
Makefile
Makefile.in
config-h.in
config.h
stamp-h1
